<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
   .err {
     color:red;


}
</style>
<body>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    
    {% for st in form %}<br><br>
    {{st.label_tag}}{{st}}{{st.errors|striptags}}
    {% endfor %}<br><br>  
  <input type="submit" value="Login"><br><br> 
  <a href="{% url 'signup' %}">Homepage</a>
 </form>
</body>
</html>