<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
 
  {% block title %} Other {% endblock title %}
  </title>
 </head>
<body> 
      
       <nav>
       <ul><h3>
       <li>Home</li>
       <li>About</li>
       <li>Django Course</li>
       </h3>
       </ul>
       </nav>
       <h1>
       {% block content %}
       This is base template
       {% endblock  %} 
        </h1>
</body>
</html>