<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <style>
  a{
    padding:10px;
    margin:20px;
    background-color:red;
    color:white;
  }
  </style>
</head>
<body>
<h3>This is my home Page</h3>
<a href="{% url 'user'  %}">USER</a>
<a href="{% url 'page'  %}">PAGE</a>
<a href="{% url 'post'  %}">POST</a>
<a href="{% url 'song'  %}">SONG</a>
  
</body>
</html>