<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
   <h1>Student Page</h1>
    
    {% if stu %}
    <h3>Show data</h3>
    {{stu}}

    <style>
        th,td{

          border: 1px black solid;
        }
    
    </style>
          <table>
          <tr>
          <th>ID</th>
          <th>Student ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Stdent PAss</th>
          </tr>>
              {% for st in stu %}
              <tr>
              <td> {{st.id}}</td>
              <td>{{st.stuid}}</td>
              <td>{{st.stuname}}</td>
              <td> {{st.stuemail}}</td>
              <td>{{st.stupass}}</td>
              </tr>
              {% endfor %}
    
          </table>
      {% else %}
      <h3>No Data</h3>
    
    {% endif %}

  </body>
</html>