<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  .errorlist{

    list-style-type:none;
    color:red;
    font-size :20px;
    margin:15;
    padding:5;
  }
  
  </style>
</head>
<body>

<form action="" method="post" novalidate>
{% csrf_token %}
{{form.non_field_errors}}
{% for field in form %}
<div>
{{field.label_tag}}{{field}}{{field.errors}}
</div>
{% endfor %}

<input type="submit" value="Submit">

</form>
  
</body>
</html>